@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Reddit Sans", sans-serif;

  /* colors */

  --color-accent: #00a6fb;
  --color-card-border: #27272a;
  --color-input: #52525c;
  --color-form-input: ##e4e4e7;
  --color-border: #1e2939;
  --color-dark-secondary: #f4f4f5;

  /* Fluid font sizes — clamp(MIN, PREFERRED, MAX) */
  --text-2xs: clamp(0.625rem, 0.6rem + 0.1vw, 0.7rem);
  --text-xs: clamp(0.7rem, 0.65rem + 0.2vw, 0.8rem);
  --text-sm: clamp(0.8rem, 0.75rem + 0.25vw, 0.9rem);
  --text-base: clamp(0.9rem, 0.85rem + 0.3vw, 1rem);
  --text-lg: clamp(1rem, 0.9rem + 0.5vw, 1.2rem);
  --text-xl: clamp(1.2rem, 1rem + 1vw, 1.5rem);
  --text-2xl: clamp(1.4rem, 1.1rem + 1.5vw, 2rem);
  --text-logo: clamp(1.3rem, 1.1rem + 1vw, 1.6rem);

  --border-radius: 12px;
  --border-input-radius: 6px;
}

.dark {
  --color-bg: #000000;
  --color-post-bg: #000000;
  --color-border: #1e2939;
  --color-post-username: #f4f4f5;
}

@layer components {
  .form-label {
    @apply text-sm font-semibold;
  }

  .form-input {
    @apply border-2 border-input rounded-lg p-2 text-form-input focus:border-zinc-400;
  }

  .error-message {
    @apply text-sm text-red-500;
  }

  .success-message {
    @apply text-sm text-green-500;
  }
  .checking-message {
    @apply text-sm text-amber-500;
  }
}
html {
  scroll-behavior: smooth;
}
input {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: scroll;
}
/* body {
  width: 100%;
  min-height: 100vh;
  font-family: "Reddit Sans", sans-serif;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
  -webkit-font-smoothing: antialiased;
} */
