@import url("https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

* {
  @apply transition-colors duration-300;
}

@theme {
  --font-display: "Reddit Sans", sans-serif;

  /* colors light mode */
  --color-accent: #00a6fb;
  --color-accent-light: #a3e0ff;
  --color-light: #fafafa;
  --color-light-primary: oklch(37% 0.013 285.805);
  --color-light-secondary: oklch(55.4% 0.046 257.417);
  --color-light-border: oklch(86.9% 0.022 252.894);
  --color-light-focus: oklch(55.2% 0.016 285.938);

  /* colors dark mode */
  --color-dark: #000000;
  --color-dark-primary: oklch(92% 0.004 286.32);
  --color-dark-secondary: oklch(55.2% 0.016 285.938);
  --color-dark-accent-shade: #7ad2ff;
  --color-dark-border: #27272a;
  --color-input: #52525c;
  --color-form-input: ##e4e4e7;
  --color-border: #1e2939;
  --color-light: #ffffff; /* Fluid font sizes — clamp(MIN, PREFERRED, MAX) */

  --text-2xs: clamp(0.625rem, 0.6rem + 0.1vw, 0.7rem);
  --text-xs: clamp(0.7rem, 0.65rem + 0.2vw, 0.8rem);
  --text-sm: clamp(0.8rem, 0.75rem + 0.25vw, 0.9rem);
  --text-base: clamp(0.9rem, 0.85rem + 0.3vw, 1rem);
  --text-lg: clamp(1rem, 0.9rem + 0.5vw, 1.2rem);
  --text-xl: clamp(1.2rem, 1rem + 1vw, 1.5rem);
  --text-2xl: clamp(1.4rem, 1.1rem + 1.5vw, 2rem);
  --text-logo: clamp(1.3rem, 1.1rem + 1vw, 1.6rem);

  --border-radius: 12px;
  --border-input-radius: 6px;

  /* .dark {
    --color-lightmode: #fafafa;
    --color-post-bg: #000000;
    --color-border: #1e2939;
    --color-post-username: #f4f4f5;
  } */
}

@layer components {
  .form-label {
    @apply text-sm font-semibold;
  }

  .form-input {
    @apply border-2 border-input rounded-lg p-2 text-form-input;
  }

  .error-message {
    @apply text-sm text-red-500;
  }

  .success-message {
    @apply text-sm text-green-500;
  }
  .checking-message {
    @apply text-sm text-amber-500;
  }
}
html {
  scroll-behavior: smooth;
}
input {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-y: scroll;
  font-family: "Reddit Sans", sans-serif;
}
.swiper-button-next,
.swiper-button-prev {
  color: white;
  background: rgba(65, 65, 65, 0.4);
  padding: 18px;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px;
}
/* body {
  width: 100%;
  min-height: 100vh;
  font-family: "Reddit Sans", sans-serif;
  transition:
    background-color 0.25s ease,
    color 0.25s ease;
  -webkit-font-smoothing: antialiased;
} */
